<title>TinyApp</title>
<% if(!user){%>
  <form method="GET" action="/login">
    <button type="submit">Signin</button>
  </form>
  <form method="GET" action="/register">
    <p>Do you have an account?</p>
    <button type="submit">Signup</button>
  </form>
<%}else{%>
  <form method="POST" action="/logout">
    <P><%=user.email%></p>
    <button type="submit">Logout</button>
  </form>

<%}%>

