<title>TinyApp</title>
<% if(!user){%>
  <form method="GET" action="/login">
    <button style="font-size:15px" type="submit">Signin</button>
  </form>
  <form method="GET" action="/register">
    <p>Do you have account?</p>
    <button style="font-size:15px" type="submit" >Signup</button>
  </form>
<%}else{%>
  <form method="POST" action="/logout">
    <P style="margin-left:20px; margin-top:20px"><%=user.email%></p>
    <button style="font-size:15px; margin-left:20px" type="submit">Logout</button>
  </form>
<%}%>


