<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="margin-top:100px; margin-left:50px">
    <form method="POST" action="/register">
      <input style="font-size:15px; width: 300px" id="email" type="email" name="email" placeholder="Enter your email">
      <input style="font-size:15px" id="password" type="password" name="password" placeholder="Enter your password">
      <button style="font-size:20px" type="submit">Register</button>
    </form>
  </body>
</html>