<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_header') %>
  </head>
  <body style="font-size:20px">
    <form style="margin-top:150px;" action="/urls" method="POST" >
      <label for="longURL">Enter a URL:</label>
      <input style="width: 300px;font-size:15px" id="longURL" type="text" name="longURL" placeholder="http://" >
      <button style="font-size:20px" type="submit">Submit</button>
    </form>
  </body>
</html>